
.fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in-out; /* Adjust timing and easing as needed */
  }
  
  .fade-in.loaded {
    opacity: 1;
  }


.schedule__schedule_layout{
    width: 220px;
    flex: none;
    display: block;
  }
  .schedule_section{
    overflow: hidden;
    border-radius: 8px;
  }
  .my_schedule_header{
    overflow: hidden;
    background-color: #fff;
  }
  .header_schedule{
    color: #121213;
    font-family: BentonSans, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 16px;
    webkit-box-pack: justify;
      justify-content: space-between;
      webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      display: flex;
      flex-direction: column;
  }
  .schedule_containerl4{
    background-color: #fff;
  }
  .schedule__game__wrapper{
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    padding-right: 12px !important;
    padding-left: 12px !important;
    min-height: 24px;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    display: flex;
  }
  .schedule_header{
    justify-content: space-around;
    -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      display: flex;
      cursor: pointer;
  }
  .schedule_game_con{
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
    
      display: flex;
  }
  .pr2 {
    padding-right: 9px !important;
  }
  .pl2 {
    padding-left: 9px !important;
  }
  .schedule_logo{
    width: 20px;
    height: 20px;
    max-width: none;
    overflow-clip-margin: content-box;
      overflow: clip;
      position: relative;
      border-style: none;
  }
  .schedule__team{
    font-size: 11px;
    max-width: 100px;
  }
  .meatemoh{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 600;
    line-height: 16px;
  }
  .schedule_home_score{
    font-weight: 700;
    line-height: 20px;
    font-size: 15px;
  }
  .schedule_time{
    min-width: 38px;
    text-transform: uppercase;
    padding-right: 2px !important;
    padding-left: 2px !important;
    -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      display: flex;
      text-align: center;
  }
  .schedule_time_wrapper{
  
    white-space: nowrap;
    float: right;
    display: block;
    font-weight: 600;
    line-height: 12px;
    font-size: 10px;
      text-transform: uppercase;
      text-align: center;
  }
  .Leauge_name_name{
    color: #6c6d6f;
      font-size: 9px;
      font-weight: 600;
      line-height: 1.5;
      text-align: center;
  }
  .schedule_link{
    color: inherit;
    outline: 0;
    border-top: 1px solid #edeef0;
      cursor: pointer;
      display: block;
      background-color: #f9f9fb;
  }